# Project 1

Our challenges:

1. Get target files from a directory
2. Read those files into our program and concatenate them into one
3. Apply regex rules to extract certain information from text data
4. Create a new file with extracted data as additional columns

## Step by step

1. Get target files from a directory (e.g., any file that has prefix "20")
   - use "os" module to access files in our computer
   - wrap with a function

In [18]:
import os  # python os module to help you to access the filesystem

files = os.listdir("../resources")

target_files = []
for file in files:
    if file.startswith("20"):
        target_files.append(file)

In [19]:
# now change to use list comprehension
target_files = [file for file in files if file.startswith("20")]

In [20]:
# step 1 
def get_target_files(prefix):
    return [file for file in os.listdir("../resources/") if file.startswith(prefix)]

2. Read in those files and concatenate them into one
   - we will use pandas for its easier operation
   - wrap with a function

In [29]:
import pandas as pd  # let's use pandas

In [30]:
df_list = []

for file in target_files:
    df = pd.read_csv("../resources/" + file)
    df_list.append(df)

In [31]:
# use pd.concat() to concatenate a list of dataframes
concat_df = pd.concat(df_list)

In [32]:
# this time use list comprehension to achieve the same
df_list = [pd.read_csv("../resources/" + file) for file in target_files]
concat_df = pd.concat(df_list)

In [33]:
# step 2
def concat_df(file_list):
    df_list = [pd.read_csv("../resources/" + file) for file in file_list]
    return pd.concat(df_list)

In [34]:
concat_df(target_files)

,loan_id,customer_id,amount,duration,payments,status,year,month,day,date,fulldate,location,purpose,comments
0,5221,A00005700,52512,12,4376,C,2018,12,5,2018-12-05,2018-12-05,64,debt_consolidation,interest rate: 3.78%; monthly payment: 204
1,5346,A00010068,55632,24,2318,C,2018,12,6,2018-12-06,2018-12-06,64,home_improvement,Interest rate: 3.85%; Monthly payment: 109
2,6402,A00002334,139488,24,5812,C,2018,12,6,2018-12-06,2018-12-06,1,home,Interest rate:3.52%; Monthly payment:278
3,5027,A00003678,160920,36,4470,C,2018,12,2,2018-12-02,2018-12-02,1,home,interest rate:3.05%; monthly payment:281
4,6856,A00008321,163332,36,4537,C,2018,12,1,2018-12-01,2018-12-01,1,home,interest rate:3.38%; Monthly payment:662
5,5428,A00002622,230220,36,6395,C,2018,12,2,2018-12-02,2018-12-02,59,home,interest rate:3.09%; monthly payment:750
6,6748,A00006265,240900,60,4015,C,2018,12,8,2018-12-08,2018-12-08,1,home,Interest rate:3.59%; Monthly payment:$250
7,4989,A00001772,352704,48,7348,C,2018,12,5,2018-12-05,2018-12-05,1,home,interest rate:3.99%; monthly payment:$219
0,5576,A00002350,31248,12,2604,A,2014,12,21,2014-12-21,2014-12-21,18,debt_consolidation,Interest rate:3.88%; monthly payment:810
1,6306,A00007819,36684,12,3057,A,2014,12,20,2014-12-20,2014-12-20,1,debt_consolidation,interest rate:3.92%; Monthly payment:$395
2,5861,A00006678,51408,24,2142,A,2014,12,8,2014-12-08,2014-12-08,1,home,interest rate:3.5%; monthly payment:659
3,5044,A00009677,100980,60,1683,C,2014,12,21,2014-12-21,2014-12-21,70,home,interest rate: 3.5%; Monthly payment: 324
4,7192,A00001480,115992,36,3222,A,2014,12,21,2014-12-21,2014-12-21,1,home,interest rate:3.51%; Monthly payment:$473
5,5450,A00011069,199680,60,3328,C,2014,12,11,2014-12-11,2014-12-11,59,home,interest rate: 3.9%; Monthly payment: 762
6,5351,A00009263,205200,36,5700,A,2014,12,4,2014-12-04,2014-12-04,59,home,interest rate:3.48%; monthly payment:$267
7,6272,A00003608,398640,60,6644,C,2014,12,20,2014-12-20,2014-12-20,1,home,Interest rate: 3.71%; monthly payment: 602
8,7142,A00010940,482940,60,8049,D,2014,12,19,2014-12-19,2014-12-19,1,home,interest rate:3.79%; monthly payment:$633
0,7284,A00004127,52788,12,4399,A,2013,9,15,2013-09-15,2013-09-15,1,home_improvement,interest rate:3.2%; Monthly payment:$258
1,6687,A00009140,87840,24,3660,A,2013,9,13,2013-09-13,2013-09-13,1,home,interest rate: 3.45%; Monthly payment: $284
2,6111,A00000276,174744,24,7281,B,2013,9,24,2013-09-24,2013-09-24,1,home,interest rate:3.66%; Monthly payment:883
3,7240,A00010788,274740,60,4579,A,2013,9,6,2013-09-06,2013-09-06,1,home,interest rate: 3.87%; monthly payment: 894
0,6852,A00008558,16032,48,334,C,2018,11,10,2018-11-10,2018-11-10,1,car,Interest rate: 3.28%; Monthly payment: $846
1,5841,A00008225,41988,12,3499,C,2018,11,4,2018-11-04,2018-11-04,1,debt_consolidation,Interest rate:3.49%; Monthly payment:765
2,5526,A00009140,69624,36,1934,C,2018,11,8,2018-11-08,2018-11-08,1,home,interest rate: 3.55%; monthly payment: 161
3,5036,A00005991,91248,48,1901,C,2018,11,25,2018-11-25,2018-11-25,70,home,Interest rate:3.02%; Monthly payment:609
4,6168,A00000344,99216,36,2756,C,2018,11,21,2018-11-21,2018-11-21,1,home,interest rate:3.91%; Monthly payment:552
5,6469,A00000544,99744,24,4156,C,2018,11,17,2018-11-17,2018-11-17,1,home,interest rate:3.04%; monthly payment:$664
6,5644,A00003664,276084,36,7669,C,2018,11,27,2018-11-27,2018-11-27,59,home,Interest rate:3.75%; Monthly payment:509
7,7292,A00003711,317460,60,5291,C,2018,11,22,2018-11-22,2018-11-22,1,home,Interest rate: 3.41%; Monthly payment: $888
0,6460,A00002962,48672,36,1352,A,2014,11,6,2014-11-06,2014-11-06,1,debt_consolidation,interest rate: 3.35%; monthly payment: $356
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3,6960,A00005228,76416,24,3184,A,2015,1,11,2015-01-11,2015-01-11,1,home,interest rate:3.49%; monthly payment:967
4,5464,A00001252,95808,12,7984,A,2015,1,30,2015-01-30,2015-01-30,59,home,Interest rate:3.45%; Monthly payment:$515
5,6358,A00010973,137880,60,2298,D,2015,1,14,2015-01-14,2015-01-14,1,home,interest rate:3.33%; Monthly payment:$613
6,5624,A00004190,177744,48,3703,D,2015,1,3,2015-01-03,2015-01-03,18,home,Interest rate: 3.23%; Monthly payment: 970
7,6244,A00009790,270648,36,7518,B,2015,1,8,2015-01-08,2015-01-08,1,home,interest rate:3.53%; monthly payment:$594
8,6526,A00003418,288468,36,8013,A,2015,1,3,2015-01-03,2015-01-03,1,home,Interest rate: 3.5%; Monthly payment: $603
9,5418,A00009377,347952,48,7249,C,2015,1,16,2015-01-16,2015-01-16,59,home,Interest rate:3.96%; monthly payment:$900
0,6377,A00008558,17184,12,1432,A,2017,3,17,2017-03-17,2017-03-17,1,debt_consolidation,interest rate:3.11%; Monthly payment:$145
1,5382,A00008533,22932,36,637,C,2017,3,17,2017-03-17,2017-03-17,59,car,Interest rate:3.03%; Monthly payment:$682
2,5931,A00007907,66696,24,2779,D,2017,3,17,2017-03-17,2017-03-17,1,home,Interest rate:3.51%; monthly payment:$970
3,5682,A00005001,67464,12,5622,A,2017,3,7,2017-03-07,2017-03-07,1,home,Interest rate: 3.89%; monthly payment: $524
4,7201,A00005724,67464,12,5622,A,2017,3,7,2017-03-07,2017-03-07,1,home,Interest rate: 3.22%; monthly payment: $156
5,6753,A00010911,67980,12,5665,A,2017,3,20,2017-03-20,2017-03-20,1,home,Interest rate:3.96%; monthly payment:$778
6,5992,A00010445,76080,12,6340,A,2017,3,18,2017-03-18,2017-03-18,1,home,interest rate:3.85%; monthly payment:$217
7,6875,A00000314,83280,48,1735,C,2017,3,13,2017-03-13,2017-03-13,1,home,interest rate: 3.46%; Monthly payment: 425
8,5790,A00001603,84288,48,1756,C,2017,3,20,2017-03-20,2017-03-20,1,home,interest rate:3.11%; monthly payment:$702
9,5784,A00002728,84600,36,2350,D,2017,3,29,2017-03-29,2017-03-29,1,home,Interest rate: 3.01%; Monthly payment: $100
10,7115,A00005572,88704,48,1848,C,2017,3,4,2017-03-04,2017-03-04,1,home,Interest rate: 3.23%; monthly payment: $158
11,5868,A00007274,90156,12,7513,A,2017,3,29,2017-03-29,2017-03-29,1,home,interest rate: 3.37%; Monthly payment: 213
12,6088,A00004994,90180,36,2505,C,2017,3,7,2017-03-07,2017-03-07,1,home,Interest rate:3.28%; Monthly payment:139
13,7046,A00007180,91632,12,7636,A,2017,3,28,2017-03-28,2017-03-28,1,home,interest rate: 3.53%; Monthly payment: 947
14,6562,A00006400,94488,24,3937,C,2017,3,21,2017-03-21,2017-03-21,1,home,interest rate:3.88%; monthly payment:$843
15,5953,A00001967,97176,24,4049,C,2017,3,14,2017-03-14,2017-03-14,1,home,Interest rate:3.41%; monthly payment:$994
16,7250,A00007674,119136,48,2482,C,2017,3,4,2017-03-04,2017-03-04,1,home,Interest rate:3.34%; Monthly payment:268
17,6010,A00000993,150180,60,2503,C,2017,3,6,2017-03-06,2017-03-06,1,home,interest rate: 3.93%; Monthly payment: 894
18,5942,A00006034,162624,48,3388,C,2017,3,15,2017-03-15,2017-03-15,1,home,Interest rate: 3.11%; monthly payment: 486
19,6938,A00010520,341280,60,5688,C,2017,3,10,2017-03-10,2017-03-10,1,home,Interest rate:3.99%; monthly payment:118
0,5314,A00009928,96396,12,8033,B,2013,7,5,2013-07-05,2013-07-05,64,home,Interest rate: 3.4%; monthly payment: $651
1,6863,A00004631,127080,60,2118,A,2013,7,28,2013-07-28,2013-07-28,1,home,interest rate:3.29%; Monthly payment:613
2,5316,A00002153,165960,36,4610,A,2013,7,11,2013-07-11,2013-07-11,64,home,interest rate:3.58%; monthly payment:$471

3. Apply regex rules to extract certain information from text data
   - check the target string for monthly payment
   - write regex pattern
   - handle potential error
   - wrap with a function

In [36]:
example_str = "interest rate: 3.35%; monthly payment: $356"

In [37]:
import re

In [38]:
payment_regex = "monthly payment:\s*\$?(\d+)"
match = re.search(payment_regex, example_str)
match.group(1)

'356'

In [40]:
payment_regex = "monthly payment:\s*\$?(\d+)"
match = re.search(payment_regex, "some bad string")  # when there is no match, we get nothing (None) back
match.group(1)  # this will cause error if no match

AttributeError: 'NoneType' object has no attribute 'group'

In [41]:
# step 3
def get_payment(string):
    payment_regex = "monthly payment:\s*\$?(\d+)"
    match = re.search(payment_regex, string, re.I)
    try:
        payment = float(match.group(1))
        return payment
    except AttributeError:
        print(f"No match for string: {string}")
        return None

4. put together a main function
   - use for these component functions
   - use pandas "apply"

In [42]:
# step 4
def main():
    files = get_target_files("20")
    combined_df = concat_df(files)
    combined_df['monthly_payment'] = combined_df['comments'].apply(get_payment)
    combined_df.to_csv("result.csv", index=False)
    print("Done!")

In [43]:
main()

No match for string: na
No match for string: na
No match for string: na
No match for string: na